.FirstStep{
  width: 1920px;
  height: 1080px;
}
.LeftHeader {
  position: absolute;
  width: 716px;
  height: 128px;
  left: 105px;
  top: 131px;

  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;

  /* Redberry Red */

  color: #fe3b1f;
}
.RightPage {
  width: 960px;
  float: right;
  background-color: black;
  height: 1080px;
}

.RightHeader {
  position: absolute;
  width: 716px;
  height: 94px;
  left: 1116px;
  top: 131px;

  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  display: flex;
  align-items: center;

  /* Redberry Red */

  color: #fe3b1f;
}

.RightBody {
  position: absolute;
  width: 705px;
  height: 606px;
  left: 1119px;
  top: 195px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
  text-align: left;
  /* or 48px */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.FormName {
  position: absolute;
  width: 455px;
  height: 54px;
  left: 235px;
  top: 390px;

  background: #ffffff;
  /* Primary Stroke */

  border: 1px solid #525557;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding-left: 45px;

  color: #454545;
}

.FormSurname {
  position: absolute;
  width: 455px;
  height: 54px;
  left: 235px;
  top: 481px;

  background: #ffffff;
  /* Primary Stroke */

  border: 1px solid #525557;
  box-sizing: border-box;
  font-family: Montserrat;
  padding-left: 45px;

  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #454545;
}

.FormEmail {
  position: absolute;
  width: 455px;
  height: 54px;
  left: 235px;
  top: 570px;

  background: #ffffff;
  /* Primary Stroke */

  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 45px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #454545;
}

.FormNumber {
  position: absolute;
  width: 455px;
  height: 54px;
  left: 235px;
  top: 675px;

  background: #ffffff;
  /* Primary Stroke */

  border: 1px solid #525557;
  box-sizing: border-box;
  padding-left: 45px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #454545;
}
/* .Buttons{
  position: absolute;
  top: 878px;
  left: 341px;
} */
