.Page {
  background-color: #151718;
  background-image: url(../../assets/stars.png);
  position: absolute;
  width: 1920px;

  height: 1080px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.Header {
  position: absolute;
  width: 1090px;
  height: 212px;
  left: 395px;
  top: 113px;
  color: #fe3b1f;

  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
}
.Start {
    position: absolute;
    width: 395px;
    height: 79px;
    left: 740px;
    top: 430px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    background-color: #fe3b1f;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}
.Applications{
    position: absolute;
    width: 338px;
    height: 66px;
    left: 766px;
    top: 527px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.Rocketman{
position: absolute;
width: 240px;
height: 301px;
text-align: center;
left: 792px;
top: 706px;
background: url(../../assets/rocketman.png);
}