.SubmitStep{
width: 1920px;
height: 1080px;
background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}
.SubmitButton{
    text-decoration: none;
    border: none;
    background: #FE3B1F;
    border-radius: 50px;
    position: absolute;
    width: 395px;
    height: 79px;
    left: 758px;
    top: 325px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.SubmitButton:hover{
    cursor: pointer;
}
.BackButton{
    position: absolute;
    width: 190px;
    height: 50px;
    left: 861px;
    top: 420px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration-line: underline;
    
    color: #FFFFFF;
}